<header>
  <div class="header-title">アニメリスト</div>
  <div class="header-menu">メニュー</div>
  
</header>
<div class="wrapper">
  <div class="left-part">
    <p>フォロー</p>
    <p>友達検索</p>
    <p>ランキング</p>
    <p>ログアウト</p>
  </div>
  <div class="right-part">
    <div class="my-page-title">○○さんのマイページ</div>
    <div class="my-lists">
      <div class="my-list">
        <div class="list-name">マイベスト</div>
        <div class="list-animes">
          <div class="list-anime">
            ジョジョの奇妙な冒険
            戦闘系
            100点
            面白い
          </div>
          <div class="list-anime">
            ワンピース
            戦闘系
            100点
            面白い
          </div>
        </div>
      </div>
      <div class="my-list">
        <div class="list-name">見たいアニメリスト</div>
        <div class="list-animes">
          <div class="list-anime">
            鬼滅の刃
            -系
            -点
            友人から紹介された
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
