.wrapper {
  display: flex;
}

.left-part {
  padding: 5px;
  width: 300px;
  border-right: 1px solid lightpink;
  height: calc(100vh - 110px);
  display: none;
}

.second-left-part {
  padding: 5px;
  width: 300px;
  background-color: lightgreen;
  height: calc(100vh - 110px);
}

.right-part {
  width: 100%;
  text-align: center;
}

.my-page-title {
  font-size: 24px;
  height: 40px;
  border-bottom: 1px solid lightpink;
}

.right-part-without-title {
  width: 100%;
  text-align: center;
  height: calc(100vh - 150px);
  overflow: scroll;
}

.end-page-space {
  height: 50px;
}

.my-lists {
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.list-name {
  font-size: 20px;
}

.anime-list {
  background-color: #FFFAFA;
}

.add-anime-btn {
  margin-left: 10px;
}

.th-anime-name {
  width: 200px;
}

.th-anime-genre{
  width: 100px;
}
.th-anime-score{
  width: 100px;
}

.th-anime-memo{
  width: 400px;
}

.anime-form {
  background-color: lightpink;
  width: 800px;
  height: 600px;
  border-radius: 20px;
  margin: 0 auto;
}

.anime-form p {
  font-size: 30px;
}

.anime-form-name {
  width: 500px;
}

.anime-form-genre {
  width: 150px;
}

.anime-form-score {
  width: 150px;
}

.image-form {
  margin-top: 10px;
}

.hidden {
  display: none;
}

.th-edit-list-name-form {
  width: calc(100% - 150px);
  height: 30px;
}

.th-edit-list-public-form {
  width: 80px;
  height: 30px;
}

.th-edit-list-submit {
  width: 50px;
}