/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* 画面全体 */
* {
  box-sizing: border-box;
}

/* 画面のヘッダー */
header {
  background-color: #FF5192;
  color: white;
  height: 100px;
  align-items: center;
  padding: 10px;
}

.header-title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.header-menu {
  width: 150px;
  border: 1px solid white;
  padding: 3px 0;
  border-radius: 10px;
  text-align: center;
}

.header-menu:hover {
  opacity: 0.8;
  cursor: pointer;
}

.header-menu a {
  color: white;
}

.header-menu a:hover {
  opacity: 0.8;
}


/* 表 */
table {
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid gray;
  height: 30px;
}

th {
  background-color: pink;
}


/* リンク */
a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #FF5192;
}


/* リスト */
li {
  list-style: none;
}

/* p要素 */
p {
  margin: 0;
}