.log-in-page {
  display: flex;
}

.log-in-left {
  background-color: lightpink;
  width: 50%;
  height: 100vh;
}

.log-in-right {
  width: 100vh;
}

.log-in-right-top {
  height: 150px;
}

.log-in-right-top-first {
  display: flex;
}

.log-in-right-top-second {
  display: flex;
}

.log-in-right-lower {
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.log-in-right-lower-content {
  width: 60%;
  height: 500px;
  margin: 0 auto;
}

.log-in-right-content-message {
  font-size: 30px;
  margin-bottom: 10%;
}

.make-account {
  width: 50%;
  margin: 0 auto;
}

.registration-btn {
  background-color: lightpink;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.registration-btn a {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
}